x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile_inline: |
      FROM apache/airflow:2.8.1-python3.11
      RUN pip install --no-cache-dir matplotlib seaborn
  
  image: workshop-airflow-custom:latest
  env_file: .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./etl:/opt/airflow/etl
    - ./data:/opt/airflow/data
  user: "${AIRFLOW_UID:-50000}"
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__WEBSERVER__WORKERS: 2
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    env_file: .env

  init:
    <<: *airflow-common
    container_name: airflow-init
    user: root
    entrypoint: /bin/bash
    command:
      - -c
      - |
        mkdir -p /opt/airflow/dags /opt/airflow/logs /opt/airflow/plugins /opt/airflow/etl /opt/airflow/data
        chmod -R 777 /opt/airflow/dags /opt/airflow/logs /opt/airflow/plugins /opt/airflow/etl /opt/airflow/data
        

        gosu "${AIRFLOW_UID:-50000}" airflow db init
        
        gosu "${AIRFLOW_UID:-50000}" airflow users create \
          --username admin \
          --firstname admin \
          --lastname admin \
          --role Admin \
          --email admin@example.com \
          --password admin


  scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    restart: always

  webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always