version: "3.9"
x-airflow-common:
  &airflow-common
  image: apache/airflow:2.8.1-python3.11 # Usamos una imagen oficial y reciente
  env_file: .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./etl:/opt/airflow/etl # Mapeamos los scripts ETL
    - ./data:/opt/airflow/data # Mapeamos los datos raw y processed
  user: "${AIRFLOW_UID:-50000}" # Usamos la variable de .env

services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    env_file: .env

  scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

  webserver:
    <<: *airflow-common
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    depends_on:
      scheduler:
        condition: service_started
    restart: on-failure

  init:
    <<: *airflow-common
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - |
        # Inicializa la base de datos y crea el usuario admin
        airflow db init
        airflow users create \
          --username admin \
          --firstname admin \
          --lastname admin \
          --role Admin \
          --email admin@example.com \
          --password admin
    depends_on:
      postgres:
        condition: service_healthy